head
    meta( charset='utf-8' )
    title #{title}
    meta( name='description', content=description )
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    meta( name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE' )
    meta( name='HandheldFriendly', content='true' )

    link( rel='stylesheet', type='text/css', href='./assets/style/vendors-style.css' )
    link( rel='stylesheet', type='text/css', href='./assets/style/style.css' )

    link( rel='shortcut icon', href='favicon.ico' )
    link( rel='apple-touch-icon', href='favicon.png' )

    block head